body{
    background-color: rgb(52, 216, 208)
    }
    
    Estilizar o título principal do seu site:
     h1{
    color: ;
    font-family: ;
    background: ;
    }
    
    Estilizar os parágrafos:
    p{
    color:blue ;
    text-align: center;
    font-family: ;
    font-size: ;
    background: brown;
    }
    
